@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-Bold.eot");
  src: local("☺"), url("../fonts/Geometria-Bold.woff") format("woff"), url("../fonts/Geometria-Bold.ttf") format("truetype"), url("../fonts/Geometria-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-ExtaBlack.eot");
  src: local("☺"), url("../fonts/Geometria-ExtaBlack.woff") format("woff"), url("../fonts/Geometria-ExtaBlack.ttf") format("truetype"), url("../fonts/Geometria-ExtaBlack.svg") format("svg");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-Medium.eot");
  src: local("☺"), url("../fonts/Geometria-Medium.woff") format("woff"), url("../fonts/Geometria-Medium.ttf") format("truetype"), url("../fonts/Geometria-Medium.svg") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria.eot");
  src: local("☺"), url("../fonts/Geometria.woff") format("woff"), url("../fonts/Geometria.ttf") format("truetype"), url("../fonts/Geometria.svg") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-Light.eot");
  src: local("☺"), url("../fonts/Geometria-Light.woff") format("woff"), url("../fonts/Geometria-Light.ttf") format("truetype"), url("../fonts/Geometria-Light.svg") format("svg");
  font-weight: 400;
  font-style: normal; }

html {
  scroll-behavior: smooth; }

.page {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: Geometria; }
  .page::before {
    background: url("../img/bg/bg_1.jpg") no-repeat center;
    background-size: cover;
    content: ' ';
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    will-change: transform;
    z-index: -1; }

.wrap {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  z-index: 5; }

header {
  position: fixed;
  z-index: 10;
  width: 100%; }

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

nav {
  position: absolute;
  right: -100vw;
  z-index: 10;
  background: black;
  border-bottom: white solid 2px;
  width: 100%;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: right, -webkit-transform;
  transition-property: right, -webkit-transform;
  -o-transition-property: transform, right;
  transition-property: transform, right;
  transition-property: transform, right, -webkit-transform; }

.logo {
  position: absolute;
  z-index: 11;
  top: 10px;
  left: 40px;
  color: white; }
  .logo img {
    width: 81px; }

.logo__title {
  position: absolute;
  left: 96px;
  top: 10px;
  width: 200px;
  font-weight: 700;
  font-size: 24px; }

.logo__describ {
  position: absolute;
  left: 96px;
  top: 45px;
  width: 200px;
  font-size: 18px; }

.menu__element {
  font-size: 18px;
  font-weight: 500;
  padding: 16px 20px; }
  .menu__element a {
    color: white;
    text-decoration: none;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: color;
    -o-transition-property: color;
    transition-property: color; }
    .menu__element a:hover {
      color: #e2e2e2; }

@media screen and (max-width: 1600px) {
  .logo {
    display: none; } }

@media screen and (min-width: 1601px) {
  .logo {
    display: block; } }

.mobile-title {
  position: absolute;
  left: 14px;
  top: 14px;
  white-space: nowrap;
  width: 70%;
  font-weight: 700;
  font-size: 24px;
  color: white; }

#toggle {
  display: none; }

.togglebutton {
  width: 100vw;
  padding: 10px;
  border-bottom: white solid 1px;
  background: black;
  text-align: right;
  color: white;
  font-size: 36px;
  display: none; }

#toggle:checked + nav {
  right: 0; }

@media screen and (max-width: 800px) {
  .header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .menu__element {
    padding: 25px 25px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    -ms-flex-preferred-size: 16%;
    flex-basis: 16%;
    border-bottom: #646464 solid 1px; }
    .menu__element:first-child {
      margin-top: 0px; }
    .menu__element:last-child {
      margin-bottom: 60px; }
  .togglebutton {
    display: block; }
  nav {
    height: 100vh;
    width: 100vw;
    overflow-y: scroll; } }

@media screen and (min-width: 801px) {
  nav {
    right: 0; }
  .mobile-title {
    display: none; } }

.dark-background {
  position: relative;
  background-size: cover; }
  .dark-background:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.85);
    z-index: 1; }

.block-white {
  background: white; }

.title {
  font-size: 42px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 60px; }

.block {
  padding: 60px 0; }

.block:not(.dark-background) {
  position: relative;
  z-index: 0; }

.aftertext {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.4em;
  padding: 0 10px; }

.aftertext-link {
  text-decoration: underline;
  color: #005AE1;
  line-height: 1.4em; }

.green-text {
  color: #20904f;
  text-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25); }

.button {
  width: 250px;
  padding: 12px;
  background: -webkit-gradient(linear, left top, left bottom, from(#20914F), to(#165C34));
  background: -webkit-linear-gradient(top, #20914F 0%, #165C34 100%);
  background: -o-linear-gradient(top, #20914F 0%, #165C34 100%);
  background: linear-gradient(180deg, #20914F 0%, #165C34 100%);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s; }
  .button a {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF; }
  .button:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#166638), to(#0d361f));
    background: -webkit-linear-gradient(top, #166638 0%, #0d361f 100%);
    background: -o-linear-gradient(top, #166638 0%, #0d361f 100%);
    background: linear-gradient(180deg, #166638 0%, #0d361f 100%); }

.block-hello {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 720px; }

.hello__content {
  position: relative;
  z-index: 5;
  color: white;
  text-align: center; }

.text__title {
  font-size: 62px;
  font-weight: 600;
  margin-bottom: 4px; }

.text__describ {
  font-size: 34px;
  font-weight: 400; }

.block-advantages {
  background: #fff;
  padding-bottom: 50px; }

.advantages__title {
  position: relative;
  z-index: 2;
  bottom: 1em;
  background: white;
  text-align: center;
  padding: 24px 0px 10px 0px;
  border-radius: 20px 20px 0px 0px; }

@media screen and (min-width: 1000px) {
  .advantages__row {
    width: 80%; } }

.advantages__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -60px auto 0 auto; }
  .advantages__row .advantages__item {
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%; }
  .advantages__row .item__img {
    width: 210px;
    height: 170px;
    overflow: hidden;
    margin: 0px auto 8px auto;
    border-radius: 20px;
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); }
    .advantages__row .item__img img {
      width: 100%;
      -webkit-transition-duration: 0.25s;
      -o-transition-duration: 0.25s;
      transition-duration: 0.25s;
      -webkit-transition-property: scale, -webkit-transform;
      transition-property: scale, -webkit-transform;
      -o-transition-property: transform, scale;
      transition-property: transform, scale;
      transition-property: transform, scale, -webkit-transform; }
  .advantages__row .item__body {
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    padding-bottom: 36px;
    -webkit-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-property: scale, -webkit-transform;
    transition-property: scale, -webkit-transform;
    -o-transition-property: transform, scale;
    transition-property: transform, scale;
    transition-property: transform, scale, -webkit-transform; }
    .advantages__row .item__body:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }
  .advantages__row .item__content {
    width: auto;
    margin: 0 auto; }
  .advantages__row .item__title {
    font-size: 24px;
    font-weight: 400;
    text-align: center; }

.block-reviews .reviews__title {
  color: white;
  margin-bottom: 60px; }

.block-reviews .reviews__item {
  cursor: default;
  -ms-flex-preferred-size: 33.33%;
  flex-basis: 33.33%; }

.block-reviews .reviews__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.block-reviews .item__body {
  -webkit-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: scale, -webkit-transform;
  transition-property: scale, -webkit-transform;
  -o-transition-property: transform, scale;
  transition-property: transform, scale;
  transition-property: transform, scale, -webkit-transform; }
  .block-reviews .item__body:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05); }

.block-reviews .item__content {
  max-width: 320px;
  width: 100vw;
  padding: 14px;
  margin: 0 auto;
  margin-bottom: 24px;
  background: white;
  border-radius: 5px; }

.block-reviews .item__rate {
  font-size: 30px;
  color: orange; }

.block-reviews .item__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2em;
  margin: 14px 0; }

.block-reviews .item__author p::before {
  content: "- "; }

.block-reviews .reviews__aftertext {
  color: white;
  text-align: center;
  margin-top: 15px; }

.block__gallery {
  background: white; }
  .block__gallery .gallery__title {
    margin-bottom: 60px; }
  .block__gallery .gallery__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 940px;
    margin: 0 auto; }
  .block__gallery .item__content {
    position: relative;
    width: 260px;
    margin: 0 auto;
    margin-bottom: 48px; }
    .block__gallery .item__content:hover .item__img {
      bottom: 24px;
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }
  .block__gallery .gallery__item {
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%; }
  .block__gallery .item__img {
    position: relative;
    bottom: 0;
    z-index: 3;
    width: 100%;
    height: 210px;
    border-radius: 20px;
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: bottom, -webkit-transform;
    transition-property: bottom, -webkit-transform;
    -o-transition-property: transform, bottom;
    transition-property: transform, bottom;
    transition-property: transform, bottom, -webkit-transform; }
    .block__gallery .item__img img {
      width: 100%;
      height: 100%; }
  .block__gallery .item__lining {
    position: absolute;
    z-index: 2;
    bottom: -12px;
    width: 100%;
    height: 30px;
    -webkit-transform: scale(1.1, 1);
    -ms-transform: scale(1.1, 1);
    transform: scale(1.1, 1);
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.85); }
  .block__gallery .gallery__aftertext {
    text-align: center; }

.block__about {
  color: white; }
  .block__about .about__title {
    margin-bottom: 60px; }
  .block__about .about__text {
    max-width: 860px;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4em; }

.block-communication {
  background: white; }
  .block-communication .communication__map {
    max-width: 800px;
    height: 350px;
    overflow: hidden;
    -webkit-box-shadow: #20904f86 0px 4px 2px;
    box-shadow: #20904f86 0px 4px 2px;
    border: #20904f solid 2px;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 40px; }
  .block-communication .communication__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto; }
  .block-communication .communication__item {
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
    max-width: 300px;
    margin: 0 10px;
    margin-bottom: 30px; }
  .block-communication .item__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-item-align: center;
    align-self: center;
    margin: 0 auto;
    height: 200px; }
  .block-communication .item__img {
    width: 120px;
    height: 65px;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 10px; }
    .block-communication .item__img img {
      display: block;
      margin: 0 auto;
      height: 100%; }
  .block-communication .item__text {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 6px 0;
    margin-bottom: 20px; }
  .block-communication .item__button {
    margin: 0 auto; }

/*
@media screen and (max-width: 1000px){
    .block-price{
        .price__row{
            flex-wrap: nowrap;
            overflow-x: scroll;
            justify-content: left;
        } 
        
        .price__item{
            overflow: visible;

            margin-right: 40px;

            &:first-child{
                margin-left: 40px;
            }

            &:last-child{
                .item__body{
                    margin-right: 40px;
                }
            }
        }
    }
}

@media screen and (min-width: 1000px){
    .block-price{
        .price__row{
            flex-wrap: wrap;
            overflow-x: visible;
            justify-content: center;
        }   

        .price__item{
            margin-right: 0px;

            &:first-child{
                margin-left: 0px;
            }
            
            &:last-child{
                margin-right: 0px;
            }
        }
    
    }
}
*/
.block-price {
  color: white; }
  .block-price .title {
    margin-bottom: 40px; }
  .block-price .price__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 20px;
    overflow-y: visible; }
  .block-price .price__item {
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
    margin-bottom: 60px; }
  .block-price .item__content {
    width: 300px;
    background: white;
    color: black;
    cursor: pointer;
    padding: 10px;
    margin: 0 auto;
    border-radius: 5px;
    -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    .block-price .item__content:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }
      .block-price .item__content:hover .item__img:after {
        opacity: 1; }
      .block-price .item__content:hover .item__hover-text {
        opacity: 1; }
  .block-price .item__img {
    position: relative;
    width: 280px;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 7px; }
    .block-price .item__img:after {
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.85);
      z-index: 5;
      opacity: 0; }
    .block-price .item__img img {
      width: 100%; }
  .block-price .item__hover-text {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    opacity: 0; }
    .block-price .item__hover-text p {
      width: 100%;
      text-align: center;
      color: white;
      font-size: 24px; }
  .block-price .item__title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 10px; }
  .block-price .item__subtitle {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px; }
  .block-price .item__describ {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4em;
    margin-bottom: 5px; }

@media screen and (max-width: 580px) {
  .footer__item::before {
    content: "";
    border-right: none; }
  .footer__item .text__container {
    text-align: center;
    width: 100%; }
    .footer__item .text__container .last p {
      position: relative;
      width: 100%; }
  .footer__row .footer__item .icons {
    margin-left: 0; } }

@media screen and (min-width: 581px) {
  .text__container .last p {
    position: absolute; } }

@media screen and (min-width: 861px) {
  .footer__item::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 180px;
    border-right: white solid 2px;
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px); }
  .footer__item:first-child::before {
    content: "";
    border-right: none; } }

footer {
  margin: auto 0; }

.footer__content {
  color: white; }

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 20px; }

.footer__item {
  -ms-flex-preferred-size: 33.33%;
  flex-basis: 33.33%;
  position: relative;
  margin: 0px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  min-width: 270px;
  margin-bottom: 20px; }
  .footer__item .item__body {
    min-height: 120px; }
  .footer__item .item__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    height: 120px;
    margin-right: 10px; }
    .footer__item .item__text .text__container {
      -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%; }
      .footer__item .item__text .text__container p {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 23px; }
    .footer__item .item__text .last {
      position: relative; }
      .footer__item .item__text .last p {
        bottom: 0; }
    .footer__item .item__text .center {
      position: relative; }
      .footer__item .item__text .center p {
        line-height: height;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px; }
  .footer__item .schedule {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 0 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px; }
  .footer__item .left__text {
    text-align: left;
    white-space: nowrap; }
  .footer__item .right__text {
    text-align: right;
    white-space: nowrap; }
  .footer__item .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: 10px; }

.footer__copyright p {
  margin-top: 20px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4em;
  border-top: rgba(255, 255, 255, 0.15) solid 2px;
  padding-top: 20px; }
  .footer__copyright p a {
    color: white; }

.popup-window {
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: opacity, visibility;
  -o-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.596); }
  .popup-window:target {
    visibility: visible;
    opacity: 1; }
    .popup-window:target .popup-window__body {
      top: 0; }
  .popup-window .popup-window__closebg {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh; }
  .popup-window .popup-window__body {
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: top;
    -o-transition-property: top;
    transition-property: top;
    position: relative;
    top: -100vh;
    background: white;
    border-radius: 10px;
    max-width: 900px;
    max-height: 700px;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 auto; }
  .popup-window .popup-window__content {
    max-width: 900px;
    padding: 10px; }
  .popup-window .popup-window__close {
    position: absolute;
    z-index: 10;
    right: 22px;
    top: 12px;
    font-size: 36px;
    font-weight: 600; }
    .popup-window .popup-window__close a {
      -webkit-transition: 0.25s;
      -o-transition: 0.25s;
      transition: 0.25s;
      color: black; }
      .popup-window .popup-window__close a:hover {
        color: #6d6d6d; }

.popup-window__row {
  margin: 80px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.popup-window__img {
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
  margin-right: 20px;
  margin-bottom: 20px; }

.popup-window__textblock {
  -ms-flex-preferred-size: 60%;
  flex-basis: 60%;
  -webkit-box-flex: 1;
  -ms-flex: 1 1;
  flex: 1 1;
  height: 100%; }
  .popup-window__textblock div {
    margin-bottom: 1em; }
  .popup-window__textblock .popup-window__product-title {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 0.2em; }
  .popup-window__textblock .popup-window__product-desctib {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4em; }
  .popup-window__textblock .popup-window__product-price {
    font-weight: 700;
    font-size: 24px; }
    .popup-window__textblock .popup-window__product-price p::after {
      content: "₽"; }

.popup-window__product-img {
  max-width: 300px;
  min-width: 200px;
  border-radius: 10px;
  overflow: hidden;
  display: block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0;
  flex: 0 0; }
  .popup-window__product-img img {
    width: 100%; }

.popup-sendform form {
  margin: 80px 50px; }

.popup-sendform .form__textfield {
  width: 100%;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 50px;
  padding-bottom: 10px;
  border-bottom: black solid 2px; }
  .popup-sendform .form__textfield:last-child {
    margin: 0; }
  .popup-sendform .form__textfield:focus {
    color: #20904f;
    border-bottom: #20904f solid 2px; }

.popup-sendform textarea {
  max-height: 8em; }

.popup-gallery .popup-window__close a {
  color: white; }

.popup-gallery .popup-window__body {
  max-width: 1000px;
  max-height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: transparent; }

.popup-gallery .popup-window__content {
  max-width: 1000px;
  max-height: 700px; }

.popup-gallery .sl-slider-gallery {
  margin-top: 60px;
  max-width: 800px;
  min-width: 0;
  margin: 0 auto; }
  .popup-gallery .sl-slider-gallery .sl-slider__slide {
    max-height: 600px;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 0; }
    .popup-gallery .sl-slider-gallery .sl-slider__slide .slide__img {
      max-height: 500px;
      overflow: hidden;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      border-radius: 10px 10px 0 0; }
      .popup-gallery .sl-slider-gallery .sl-slider__slide .slide__img img {
        display: block;
        max-width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        margin: 0 auto; }
  .popup-gallery .sl-slider-gallery .slide__textblock {
    width: 100%;
    background: white;
    padding: 10px;
    border-radius: 0 0 10px 10px; }

.adative-text-wrap {
  padding: 0 20px; }

@media screen and (max-width: 768px) {
  .popup-window .popup-window__body {
    max-width: 100vw;
    max-height: 100vh;
    width: 100vw;
    height: 100vh;
    border-radius: 0; } }

@media screen and (max-width: 900px) {
  .popup-window .popup-window__body {
    max-width: 100vw;
    max-height: 100vh;
    width: 100vw;
    height: 100vh;
    border-radius: 0; } }

@media screen and (max-width: 1000px) {
  .slider__nohover:hover {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  .slider__nohover .item__body:hover {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
    .slider__nohover .item__body:hover .item__img {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      bottom: 0; }
  .slider__nohover .item__content:hover {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }

@media screen and (max-width: 701px) {
  .slider {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    overflow-x: scroll;
    overflow-y: visible;
    width: 100%; }
  .slider__item {
    margin-left: 8vw; }
    .slider__item:first-child {
      margin-left: 0; }
      .slider__item:first-child .item__body {
        margin-left: 20vw; }
    .slider__item:last-child .item__content {
      margin-right: 20vw; }
  .text__title {
    font-size: 36px; }
  .text__describ {
    font-size: 24px; }
  .block {
    padding: 4vh 0; }
  .block-hello {
    height: 400px; }
  .block-advantages {
    padding-bottom: 20px; }
    .block-advantages .advantages__title {
      margin-bottom: 70px; }
      .block-advantages .advantages__title p {
        padding-top: 20px; }
  .title {
    font-size: 24px;
    padding: 0 20px; }
  .adative-text-wrap {
    padding: 0 20px; }
  .item__button {
    margin: 0 auto; } }

@media screen and (min-width: 700px) {
  .slider {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow-x: visible; }
  .slider__item .item__body {
    margin: 0 auto; } }

@media screen and (max-width: 680px) {
  .price__item .item__body, .gallery__item, .reviews__item, .advantages__item {
    margin: 0 auto;
    width: 100vw; }
    .price__item .item__body .item__body, .gallery__item .item__body, .reviews__item .item__body, .advantages__item .item__body {
      margin: 0 auto; }
    .price__item .item__body .item__content, .gallery__item .item__content, .reviews__item .item__content, .advantages__item .item__content {
      margin: 0 auto; }
  .gallery__item {
    margin: 0 0 20px 0; } }

@media screen and (min-width: 700px) and (max-width: 1000px) {
  .slider__item {
    margin: 0 25px; } }
